<div class="container page">
  <div class="row">
    <div class="col-md-6">

<p>
  <b>SCANDAGLIO è un progetto di ricerca e di sperimentazione di linguaggi che si occupa della città di Milano.</b>
</p>

<p>

Ci troviamo, a partire da ottobre e fino al mese di maggio 2017, ogni martedì alle ore 19.30 a Piano Terra (via Federico Confalonieri, 3) per proseguire in forma condivisa il percorso.

Il territorio e le sue nocività, le economie circolari, la mobilità e il transito, l’eredità del grande-evento Expo 2015, gli scali ferroviari e il PGT, non sono che alcuni dei temi su cui ci cimenteremo nella stagione alle porte.

Se l’idea ti stuzzica non esitare a contattarci:

</p>

<p><a href="mailto:offtopic@autoproduzioni.net">offtopic@autoproduzioni.net</a> - <a href="http://www.offtopiclab.org/">offtopiclab.org</a>- <a href="https://twitter.com/offtopic_lab">@offtopic_lab</a></p>

</div>
</div>
</div>
