<div id="bgmap" bgmap>

</div>

<div class="container fullheight" id="home-container">
<div class="row introHome">
  <div class="col-sm-12 col-md-6 col-md-offset-2">
    <h1>{{title}}</h1>
  </div>
</div>
  <div class="row introHome">
    <div class="col-sm-12 col-md-2 homeControls">
      <p>
        <a class="btn btn-default" href="#!/inoltre" role="button" scroll-on-click>inoltre</a>
      </p>
      <p>
        <a class="btn btn-default" href="#!/info" role="button">info</a>
      </p>
    </div>
    <div class="col-sm-12 col-md-6 introHomeText">
      <p>
        {{desc}}
      </p>
    </div>
    <div class="col-sm-12 col-md-3">
      <h4>
        CAPITOLO V°
      </h4>
      <div class="esplora">
        <a class="btn btn-default btn-lg" href="#!/name" role="button">comincia</a>
      </div>
    </div>
  </div>
</div>
