<div class="container page">
  <div class="row">
    <div class="col-md-6" nooverflow>
      <p><i>I love TR8</i> non è un gioco né un’offerta immobiliare. La proposta di Trotto Bene Comune per il futuro delle scuderie del Trotto di Viale dei Rospigliosi è...darvi la possibilità di scegliere. Ciascuno da oggi potrà immaginare e condividere le funzioni che vorrebbe veder realizzate dove oggi c’è solo abbandono e rischio di speculazione edilizia. Lo faremo a partire da desideri, bisogni, progetti, con lo scopo di restituirle al quartiere e a un uso pubblico.</p>

<p>Da anni abbandonate, come la pista da gara del Trotto adiacente, le scuderie sono infatti interessate da un progetto di trasformazione di tutta l’area secondo la volontà della proprietà SNAI con il rischio di nuovo grattacieli e spazi commerciali laddove nella memoria di tutti per decenni ha vissuto il mondo dell’ippica milanese. Diverse associazioni e comitati hanno chiesto il vincolo monumentale sull’area ma al di là di quello che deciderà la Sovraintendenza, sappiamo che il vincolo fermerebbe la speculazione ma non restituirebbe alla città questa piazza negata alla pubblica fruizione.</p>

<p><b>Trotto Bene Comune</b>, comitato di abitanti dei quartieri limitrofi alle scuderie, si propone proprio questo: <b>attivare dal basso</b> un percorso partecipativo e progettuale che attivi energie, sogni, bisogni e ponga alla città la questione di fare delle Scuderie una cittadella che sappia rispondere alla desertificazione sociale, di arti e mestieri, di servizi di prossimità, che caratterizza la periferia milanese.</p>

<p>In pochi minuti vi chiediamo di dire la vostra, di <b>immaginare come vorreste la Cittadella delle Scuderie</b>, attribuendo a ogni edificio la destinazione che ritenete più utile per il quartiere e di salvare e condividere il tutto, perché questa idea di progettazione dal basso possa prendere forza e diventare concreta.</p>

<p><b>Cominciamo?</b></p>
    </div>
  </div>
</div>
