<div class="container-fluid fullheight">
  <div class="row">
  <div class="col-md-3 progetti-bar">
    <h3>Proposte</h3>
     <div class="prj-group" ng-repeat="project in projectsList">
        <button class="btn btn-default btn-lg" ng-if="project.editable" ng-click="editProject(project)">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <div class="prj-single" >
          {{ project.name }}
        </div>
        <button class="btn btn-default btn-lg" ng-if="project.editable" ng-click="removeProject(project.id)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
  </div>
  <div class="col-md-6 col-md-offset-4">
    <h3>Aggiungi</h3>
     <form name="projectForm" novalidate>
       <div class="form-group input-group-lg" type="name" yourprojects>
           <label class="invisible label-name">nome proposta<sup>*</sup></label>
           <input
             type="text"
             placeholder="{{nomeplaceholder}}"
             class="form-control"
             name="projectName"
             ng-model="projectName"
             ng-minlength="3"
             ng-maxlength="100"
             ng-disabled = "projectsList.length == maxProjects && !projectId"
             required
             inputisvalid='{{projectForm.$valid}}'
           >
           </div>
           <div class="form-group" type="desc" yourprojects>
           <label class="invisible label-name">descrizione della proposta (facoltativo)</label>
            <textarea
              rows="5"
              class="form-control description"
              ng-model="projectDesc"
              ng-maxlength="300"
              ng-disabled = "projectsList.length == maxProjects && !projectId"
              placeholder="{{descplaceholder}}">
            </textarea>

            <button class="btn btn-default prj-save" type="submit" ng-class="{true: '', false: 'disabled'}[projectForm.$valid]" ng-click="submit()">salva</a>
        </div>
     </form>
     <div ng-if="projectsList.length == maxProjects" class="alert alert-warning" role="alert">
         Hai raggiunto il numero massimo di proposte! Vai avanti o rimuovi un progetto già esistente.
     </div>

  </div>
</div>
</div>

<div id="bottom-bar">
  <div>
    <a class="btn btn-default btn-lg" href="#!/name"><span aria-hidden="true">&larr;</span> indietro</a>
  </div>
  <div id="bottom-bar-text">
    <p>
      {{name}}, aggiungi 6 proposte che vorresti realizzare, oltre quelle elencate, per completare il progetto o clicca su "avanti".
    </p>
  </div>
  <div>
    <a class="btn btn-default btn-lg" href="#!/places">avanti <span aria-hidden="true">&rarr;</span></a>
  </div>
</div>
