<div class="container-fluid fullheight">
  <div id="mapproject" mapproject></div>
</div>

<div id="bottom-bar">
  <!-- <div>
    <a class="btn btn-default btn-lg" href="#!/projects"><span aria-hidden="true">&larr;</span> indietro</a>
  </div> -->
  <div id="bottom-bar-text">
    <p>
      Ciao <b>{{geojson.owner}}</b>, ecco il progetto che avevi salvato!</p>
  </div>
  <!-- <div>
    <a class="btn btn-default btn-lg" href="#!/publish">avanti <span aria-hidden="true">&rarr;</span></a>
  </div> -->
</div>
